<a href="https://colab.research.google.com/github/Haneenabuallam12/Haneenabuallam12/blob/main/1636325356__assignment_w5_c1_template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week 5, Assignment C1:

Logistic Regression with Yahoo! Finance API in Python

In this notebook, we will study Logistic Regression using the Yahoo! Finance API in Python.

Please complete the lines bellow where you see "#TODO".

In [2]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 6.5 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=877f9db0781fb65a51081fe66275744c9685f65635c47d7620402c93df6d7f94
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.4 yfinance-0.1.64

In [29]:
!Pip install sklearn

/bin/bash: Pip: command not found

In [31]:
#Objective 1.
#Use this cell to import the Numpy (as np), Pandas (as pd), and YFinance (as yf) packages.
import datetime as dt
import numpy as np
import pandas as pd
import yfinance as yf

#Our work will also require some components of the Sklearn and Pandas_Datareader packages as imported below:

from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import cross_val_score
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split #import it 
from pandas_datareader import data as pdr
yf.pdr_override()

In [4]:
#Objective 2.
#Select a stock symbol for a stock whose historical data is available on the Yahoo! Finance website.  Store the
#string of your chosen symbol to the new variable "stock_symbol".
start = dt.datetime(2020,9,22)
end = dt.datetime.now()

stock_symbol = ['AVAX-USD']

In [47]:
#Objective 3.
#Use the function "pdr.get_data_yahoo(stock_symbol, start_date, end_date)" to generate a Pandas dataframe of
#historical stock data for your chosen stock.  Retain only the first four columns of the dataframe.  Be sure to 
#drop any rows containing NaN's, and take a peek at the resulting dataframe to make sure everything looks good.

#df = pdr.get_data_yahoo(stock_symbol, start, end)
#df1=df  

deletd_column =[]
df = pdr.get_data_yahoo(stock_symbol, start, end).dropna()
df1 = df[["Open","Adj Close"]]

#df = #TODO
#df.head()
#df.shape
df1.columns
#df["Open"]
#df = #TODO

[*********************100%***********************]  1 of 1 completed

Index(['Open', 'Adj Close'], dtype='object')

In [48]:
df1

                 Open  Adj Close
Date
2020-09-22   4.986754   5.234632
2020-09-23   5.234104   3.521812
2020-09-24   3.521812   4.578369
2020-09-25   4.585006   4.711471
2020-09-26   4.725395   4.541182
...               ...        ...
2021-11-05  79.047600  74.364738
2021-11-06  74.296654  78.685204
2021-11-07  78.805908  87.705421
2021-11-08  87.705994  91.184784
2021-11-09  90.387238  89.794899

[408 rows x 2 columns]

In [49]:
#Objective 4.
#Use the historical data to define some predictor variables.  Add these variables to the dataframe.  Include, at a
#minimum, (Predictor.I) the rolling average closing price over the past fifteen (15) days and (Predictor.II) the
#change in opening price over the past one (1) day.  Be sure to again drop any rows containing NaN's, and take a
#peek at the resulting dataframe to make sure everything looks good.  Store the dataframe as the new variable "X".

#df['Close_15_Rolling'] = #TODO
#df['Open_1_Change'] = #TODO
#df = #TODO
#X = #TODO
df1['Close_15_Rolling'] = df1['Adj Close'].rolling(16).mean() #start from zero ?

df1['Open_1_Change'] = df1['Open'].diff()

df1['Adj Close_Change'] = df1['Adj Close'].diff(-1)

df1=df1.dropna()
X=df1
X

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                 Open  Adj Close  ...  Open_1_Change  Adj Close_Change
Date                              ...
2020-10-11   4.022435   4.095879  ...      -0.219528         -0.054177
2020-10-14   4.483894   4.150056  ...       0.461459          0.022703
2020-10-15   4.152928   4.127353  ...      -0.330966          0.086873
2020-10-16   4.127866   4.040480  ...      -0.025062         -0.155529
2020-10-17   4.038541   4.196009  ...      -0.089325          0.079947
...               ...        ...  ...            ...               ...
2021-11-04  75.577637  79.293221  ...       7.804550          4.928482
2021-11-05  79.047600  74.364738  ...       3.469963         -4.320465
2021-11-06  74.296654  78.685204  ...      -4.750946         -9.020218
2021-11-07  78.805908  87.705421  ...       4.509254         -3.479362
2021-11-08  87.705994  91.184784  ...       8.900085          1.389885

[392 rows x 5 columns]

In [50]:
#Objective 5.
#Define the target or dependent variable to be one (1) if the change in closing price over the past one (1) day is
#nonnegative and negative one (-1) if the change in closing price over the past one (1) day is negative.  This
#variable's values should be forward-looking (i.e., you should subtract today's price from tomorrow's price rather
#than subtracting yesterday's price from today's price).  Store the resulting values as the new variable "y".  You
#may find the "np.where(*args)" function to be useful.  Look it up in Numpy documentation for support.

y = X["Adj Close_Change"]
y = np.where(y<0,-1,1)
y

array([-1,  1,  1, -1,  1,  1,  1, -1, -1,  1,  1,  1, -1,  1,  1,  1,  1,
        1, -1,  1,  1,  1, -1, -1,  1, -1,  1, -1,  1,  1, -1,  1, -1, -1,
       -1,  1,  1, -1, -1,  1, -1, -1,  1,  1, -1, -1, -1,  1,  1, -1, -1,
        1, -1,  1,  1,  1, -1,  1, -1, -1,  1,  1, -1, -1,  1, -1, -1,  1,
        1,  1,  1, -1,  1,  1,  1, -1,  1,  1, -1, -1,  1,  1, -1, -1, -1,
        1, -1, -1,  1,  1, -1, -1, -1, -1, -1, -1,  1,  1, -1,  1, -1, -1,
        1,  1,  1,  1, -1,  1, -1, -1,  1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1,  1, -1,  1,  1,  1,  1, -1, -1,  1,  1,  1,  1,  1, -1,  1,  1,
        1,  1, -1,  1, -1,  1,  1, -1, -1,  1, -1,  1, -1,  1, -1,  1,  1,
       -1,  1, -1, -1,  1,  1,  1,  1,  1,  1, -1,  1, -1, -1, -1,  1,  1,
       -1,  1, -1, -1, -1,  1, -1, -1, -1,  1, -1,  1, -1,  1,  1,  1,  1,
        1, -1,  1,  1,  1,  1,  1, -1, -1, -1,  1, -1,  1,  1, -1,  1, -1,
       -1, -1, -1, -1,  1, -1,  1, -1, -1,  1, -1,  1, -1,  1, -1,  1,  1,
        1, -1, -1, -1,  1,  1,  1, -1, -1,  1, -1, -1,  1,  1, -1,  1,  1,
       -1,  1,  1, -1, -1, -1, -1,  1, -1,  1,  1, -1,  1,  1, -1, -1,  1,
       -1, -1, -1, -1, -1,  1,  1, -1, -1,  1, -1,  1,  1, -1,  1, -1,  1,
        1,  1,  1,  1, -1,  1,  1,  1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1,  1, -1,  1, -1, -1, -1, -1,  1, -1, -1, -1,  1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1,  1, -1, -1,  1,  1, -1, -1,  1,  1,  1, -1,
       -1,  1, -1, -1,  1,  1,  1, -1, -1, -1, -1,  1,  1, -1, -1, -1,  1,
       -1,  1, -1, -1, -1,  1,  1,  1,  1,  1, -1, -1, -1, -1,  1,  1,  1,
        1, -1,  1, -1,  1,  1,  1, -1, -1, -1, -1,  1,  1, -1, -1, -1, -1,
       -1,  1, -1,  1,  1, -1, -1,  1, -1, -1, -1, -1, -1,  1, -1, -1, -1,
        1])

In [51]:
#Objective 6.
#Split the data into training and test sets, putting the first seventy percent (70%) of the data in the training
#set.
#y_data = X["Adj Close_Change"] 
#x_data = X.drop("Adj Close_Change", axis = 1)


index = int(0.7*len(X))
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.30, random_state=0)
#train_test_split(x_data, y_data, test_size = 0.3)
X_train,X_test,y_train,y_test

(                 Open  Adj Close  ...  Open_1_Change  Adj Close_Change
 Date                              ...
 2021-11-08  87.705994  91.184784  ...       8.900085          1.389885
 2021-03-20  37.587563  34.346478  ...       4.324039          1.534756
 2021-03-03  27.148203  27.272078  ...      -0.272530          1.466902
 2021-09-20  70.093880  56.677929  ...       1.232887         -2.339428
 2020-12-18   3.209613   3.404798  ...      -0.134114         -0.064815
 ...               ...        ...  ...            ...               ...
 2021-09-01  39.543476  41.931602  ...      -1.918194         -5.824314
 2021-04-23  23.987833  23.498425  ...      -1.842472          1.720896
 2021-02-07  18.020672  24.207178  ...       0.110941         -6.068150
 2020-11-29   3.624608   3.704312  ...       0.035181          0.017888
 2021-04-03  29.081627  28.251848  ...       0.749311         -1.077864

 [274 rows x 5 columns],
                  Open  Adj Close  ...  Open_1_Change  Adj Close_Change
 Date                              ...
 2021-03-06  24.340832  24.923477  ...      -1.441059         -1.726677
 2021-07-20  10.180246   9.650588  ...      -0.517612         -0.769937
 2020-12-20   3.469663   3.311469  ...       0.064285          0.213850
 2021-10-20  56.807442  59.559841  ...       1.276108         -1.749969
 2021-09-06  48.146778  47.042988  ...       0.942116          9.444038
 ...               ...        ...  ...            ...               ...
 2021-07-29  12.315290  12.418383  ...       0.383076         -0.583982
 2021-10-30  64.733238  62.415268  ...       0.350052         -1.872536
 2020-11-04   3.332747   3.184633  ...      -0.291168         -0.173572
 2021-11-03  67.773087  75.430420  ...       2.804817         -3.862801
 2021-05-01  32.898544  31.890842  ...       4.967648          0.585886

 [118 rows x 5 columns],
 array([ 1,  1,  1, -1, -1, -1, -1, -1, -1, -1, -1,  1,  1, -1,  1, -1, -1,
         1,  1,  1, -1,  1, -1,  1,  1, -1, -1, -1,  1,  1, -1, -1,  1,  1,
        -1, -1, -1, -1,  1,  1,  1,  1,  1, -1, -1,  1,  1, -1, -1,  1,  1,
        -1,  1,  1, -1, -1, -1,  1, -1, -1,  1,  1, -1, -1,  1, -1, -1, -1,
         1, -1, -1,  1,  1, -1,  1, -1,  1, -1, -1,  1,  1, -1,  1,  1, -1,
        -1, -1,  1, -1, -1, -1,  1, -1,  1, -1, -1,  1, -1,  1,  1, -1,  1,
         1,  1, -1,  1, -1, -1, -1, -1,  1, -1,  1,  1,  1,  1,  1, -1, -1,
        -1,  1, -1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1, -1,  1, -1,  1,
        -1,  1,  1,  1, -1, -1, -1,  1,  1,  1, -1, -1, -1, -1,  1,  1, -1,
         1, -1, -1,  1,  1, -1, -1, -1, -1, -1, -1, -1, -1,  1,  1, -1, -1,
        -1,  1,  1, -1,  1, -1, -1, -1, -1, -1, -1, -1, -1,  1, -1, -1,  1,
         1, -1,  1, -1,  1,  1, -1, -1, -1,  1,  1, -1, -1, -1, -1, -1,  1,
        -1, -1, -1,  1, -1,  1,  1,  1, -1,  1,  1,  1,  1,  1, -1,  1,  1,
         1, -1,  1,  1, -1,  1, -1,  1,  1, -1, -1,  1, -1, -1,  1,  1, -1,
         1, -1,  1, -1,  1,  1, -1, -1, -1,  1, -1, -1, -1, -1, -1, -1,  1,
         1,  1, -1,  1,  1, -1, -1, -1,  1, -1,  1,  1, -1,  1, -1,  1, -1,
         1, -1]),
 array([-1, -1,  1, -1,  1, -1, -1, -1,  1,  1,  1,  1, -1,  1, -1, -1,  1,
         1, -1, -1,  1,  1, -1, -1, -1, -1, -1, -1, -1, -1,  1, -1,  1, -1,
         1,  1, -1, -1,  1,  1,  1,  1, -1,  1, -1,  1, -1,  1,  1, -1, -1,
         1,  1, -1,  1,  1, -1,  1,  1,  1,  1,  1, -1,  1, -1,  1, -1,  1,
         1, -1, -1,  1, -1,  1, -1,  1,  1,  1, -1, -1,  1, -1,  1, -1, -1,
         1,  1, -1, -1, -1,  1, -1,  1, -1,  1,  1,  1, -1,  1,  1,  1, -1,
         1, -1,  1, -1, -1, -1, -1, -1, -1, -1,  1, -1, -1, -1, -1,  1]))

In [52]:
#Objective 7.
#Instantiate the Logistic Regression model object, and use its ".fit(*args)" method to fit the model to the 
#training data.

logistic = LogisticRegression()
logistic = logistic.fit(X_train,y_train)
#Train the model and create predictions
#model.fit(x_training_data, y_training_data)
#predictions = model.predict(x_test_data)
#y_pred=logreg.predict(X_test)

In [53]:
#Objective 8.
#Examine the model's coefficients by using its ".coef_" method.

pd.DataFrame(zip(X.columns, np.transpose(logistic.coef_)))

                  0                        1
0              Open    [0.30194065161249173]
1         Adj Close    [-0.2961571552200603]
2  Close_15_Rolling  [-0.004373107916167491]
3     Open_1_Change  [0.0008460818111522255]
4  Adj Close_Change      [5.289927149164344]

In [54]:
#Objective 9.
#Use the model's ".predict_proba(*args)" and ".predict(*args)" methods to generate predictions over the test set.

#probabilities = #TODO.predict_proba
#predictions = #TODO.predict
#predictions = logistic.predict(x_test_data)
y_pred =logistic.predict(X_test)

In [55]:
#Objective 10.
#Use the function "metrics.confusion_matrix(*args)" to create a confusion matrix comparing the predicted and true
#classification labels over the test set.
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix
#TODO

array([[59,  2],
       [ 0, 57]])

In [ ]:
#Objective 11.
#Calculate the model's accuracy on the test set using its ".score(*args)" method.

#TODO

In [ ]:
#Objective 12.
#Use five-fold cross validation to cross-check the accuracy of the model over different held-out test sets.  This
#is where you should use the function "cross_val_score(*args)".

cross_val = #TODO