<a href="https://colab.research.google.com/github/Haneenabuallam12/Haneenabuallam12/blob/main/Hanin__assignment_w5_c1_template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week 5, Assignment C1:

Logistic Regression with Yahoo! Finance API in Python

In this notebook, we will study Logistic Regression using the Yahoo! Finance API in Python.

Please complete the lines bellow where you see "#TODO".

In [2]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 6.5 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=877f9db0781fb65a51081fe66275744c9685f65635c47d7620402c93df6d7f94
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.4 yfinance-0.1.64

In [29]:
!Pip install sklearn

/bin/bash: Pip: command not found

In [31]:
#Objective 1.
#Use this cell to import the Numpy (as np), Pandas (as pd), and YFinance (as yf) packages.
import datetime as dt
import numpy as np
import pandas as pd
import yfinance as yf

#Our work will also require some components of the Sklearn and Pandas_Datareader packages as imported below:

from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import cross_val_score
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split #import it 
from pandas_datareader import data as pdr
yf.pdr_override()

In [4]:
#Objective 2.
#Select a stock symbol for a stock whose historical data is available on the Yahoo! Finance website.  Store the
#string of your chosen symbol to the new variable "stock_symbol".
start = dt.datetime(2020,9,22)
end = dt.datetime.now()

stock_symbol = ['AVAX-USD']

In [5]:
#Objective 3.
#Use the function "pdr.get_data_yahoo(stock_symbol, start_date, end_date)" to generate a Pandas dataframe of
#historical stock data for your chosen stock.  Retain only the first four columns of the dataframe.  Be sure to 
#drop any rows containing NaN's, and take a peek at the resulting dataframe to make sure everything looks good.

#df = pdr.get_data_yahoo(stock_symbol, start, end)
#df1=df  

deletd_column =[]
df = pdr.get_data_yahoo(stock_symbol, start, end).dropna()
df1 = df[["Open","Adj Close"]]

df1.columns 

#df = #TODO

[*********************100%***********************]  1 of 1 completed

Index(['Open', 'Adj Close'], dtype='object')

In [7]:
df1

                 Open  Adj Close  ...  Open_1_Change  Adj Close_Change
Date                              ...
2020-10-11   4.022435   4.095879  ...      -0.219528         -0.054177
2020-10-14   4.483894   4.150056  ...       0.461459          0.022703
2020-10-15   4.152928   4.127353  ...      -0.330966          0.086873
2020-10-16   4.127866   4.040480  ...      -0.025062         -0.155529
2020-10-17   4.038541   4.196009  ...      -0.089325          0.079947
...               ...        ...  ...            ...               ...
2021-11-04  75.577637  79.293221  ...       7.804550          4.928482
2021-11-05  79.047600  74.364738  ...       3.469963         -4.320465
2021-11-06  74.296654  78.685204  ...      -4.750946         -9.020218
2021-11-07  78.805908  87.705421  ...       4.509254         -3.479362
2021-11-08  87.705994  91.184784  ...       8.900085          2.638885

[392 rows x 5 columns]

In [8]:
#Objective 4.
#Use the historical data to define some predictor variables.  Add these variables to the dataframe.  Include, at a
#minimum, (Predictor.I) the rolling average closing price over the past fifteen (15) days and (Predictor.II) the
#change in opening price over the past one (1) day.  Be sure to again drop any rows containing NaN's, and take a
#peek at the resulting dataframe to make sure everything looks good.  Store the dataframe as the new variable "X".

#df['Close_15_Rolling'] = #TODO
#df['Open_1_Change'] = #TODO
#df = #TODO
#X = #TODO
df1['Close_15_Rolling'] = df1['Adj Close'].rolling(16).mean() #start from zero ?

df1['Open_1_Change'] = df1['Open'].diff()

df1['Adj Close_Change'] = df1['Adj Close'].diff(-1)

df1=df1.dropna()
X=df1
X

                 Open  Adj Close  ...  Open_1_Change  Adj Close_Change
Date                              ...
2020-10-28   4.122243   4.066606  ...      -0.038730          0.291294
2020-10-29   4.066606   3.775312  ...      -0.055637          0.060374
2020-10-30   3.775312   3.714938  ...      -0.291294          0.066570
2020-10-31   3.714938   3.648368  ...      -0.060374         -0.034296
2020-11-01   3.648368   3.682664  ...      -0.066570          0.058749
...               ...        ...  ...            ...               ...
2021-11-03  67.773087  75.430420  ...       2.804817         -3.862801
2021-11-04  75.577637  79.293221  ...       7.804550          4.928482
2021-11-05  79.047600  74.364738  ...       3.469963         -4.320465
2021-11-06  74.296654  78.685204  ...      -4.750946         -9.020218
2021-11-07  78.805908  87.705421  ...       4.509254         -3.479362

[376 rows x 5 columns]

In [9]:
#Objective 5.
#Define the target or dependent variable to be one (1) if the change in closing price over the past one (1) day is
#nonnegative and negative one (-1) if the change in closing price over the past one (1) day is negative.  This
#variable's values should be forward-looking (i.e., you should subtract today's price from tomorrow's price rather
#than subtracting yesterday's price from today's price).  Store the resulting values as the new variable "y".  You
#may find the "np.where(*args)" function to be useful.  Look it up in Numpy documentation for support.

y = X["Adj Close_Change"]
y = np.where(y<0,-1,1)
y

array([ 1,  1,  1, -1,  1,  1,  1, -1, -1,  1, -1,  1, -1,  1,  1, -1,  1,
       -1, -1, -1,  1,  1, -1, -1,  1, -1, -1,  1,  1, -1, -1, -1,  1,  1,
       -1, -1,  1, -1,  1,  1,  1, -1,  1, -1, -1,  1,  1, -1, -1,  1, -1,
       -1,  1,  1,  1,  1, -1,  1,  1,  1, -1,  1,  1, -1, -1,  1,  1, -1,
       -1, -1,  1, -1, -1,  1,  1, -1, -1, -1, -1, -1, -1,  1,  1, -1,  1,
       -1, -1,  1,  1,  1,  1, -1,  1, -1, -1,  1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1,  1, -1,  1,  1,  1,  1, -1, -1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1, -1,  1, -1,  1,  1, -1, -1,  1, -1,  1, -1,  1, -1,
        1,  1, -1,  1, -1, -1,  1,  1,  1,  1,  1,  1, -1,  1, -1, -1, -1,
        1,  1, -1,  1, -1, -1, -1,  1, -1, -1, -1,  1, -1,  1, -1,  1,  1,
        1,  1,  1, -1,  1,  1,  1,  1,  1, -1, -1, -1,  1, -1,  1,  1, -1,
        1, -1, -1, -1, -1, -1,  1, -1,  1, -1, -1,  1, -1,  1, -1,  1, -1,
        1,  1,  1, -1, -1, -1,  1,  1,  1, -1, -1,  1, -1, -1,  1,  1, -1,
        1,  1, -1,  1,  1, -1, -1, -1, -1,  1, -1,  1,  1, -1,  1,  1, -1,
       -1,  1, -1, -1, -1, -1, -1,  1,  1, -1, -1,  1, -1,  1,  1, -1,  1,
       -1,  1,  1,  1,  1,  1, -1,  1,  1,  1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1,  1, -1,  1, -1, -1, -1, -1,  1, -1, -1, -1,  1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1,  1, -1, -1,  1,  1, -1, -1,  1,  1,
        1, -1, -1,  1, -1, -1,  1,  1,  1, -1, -1, -1, -1,  1,  1, -1, -1,
       -1,  1, -1,  1, -1, -1, -1,  1,  1,  1,  1,  1, -1, -1, -1, -1,  1,
        1,  1,  1, -1,  1, -1,  1,  1,  1, -1, -1, -1, -1,  1,  1, -1, -1,
       -1, -1, -1,  1, -1,  1,  1, -1, -1,  1, -1, -1, -1, -1, -1,  1, -1,
       -1, -1])

In [34]:
#Objective 6.
#Split the data into training and test sets, putting the first seventy percent (70%) of the data in the training
#set.
#y_data = X["Adj Close_Change"] 
#x_data = X.drop("Adj Close_Change", axis = 1)


index = int(0.7*len(X))
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.30, random_state=0)
#train_test_split(x_data, y_data, test_size = 0.3)
X_train,X_test,y_train,y_test

(                 Open  Adj Close  ...  Open_1_Change  Adj Close_Change
 Date                              ...
 2021-04-01  28.732580  28.418751  ...      -0.883167         -0.698860
 2021-02-18  37.055477  41.015091  ...       0.654217          2.263634
 2021-04-05  29.310335  31.246593  ...       1.010990         -0.307901
 2021-06-30  11.931250  11.955547  ...       0.630826          0.725737
 2021-02-19  41.040829  38.751457  ...       3.985352          2.517590
 ...               ...        ...  ...            ...               ...
 2021-09-16  57.891899  67.842697  ...       6.387997         -2.091316
 2021-05-08  37.901997  38.322075  ...      -0.068581         -0.699562
 2021-02-22  36.145779  32.279057  ...       0.044231          4.716154
 2020-12-14   3.330365   3.140347  ...      -0.004403         -0.159601
 2021-04-18  34.361160  29.253094  ...      -1.173893          2.970028

 [263 rows x 5 columns],
                  Open  Adj Close  ...  Open_1_Change  Adj Close_Change
 Date                              ...
 2021-02-27  25.963408  25.814472  ...      -0.897076          1.991253
 2021-08-21  39.126446  43.786911  ...       8.458551          0.254711
 2021-09-06  48.146778  47.042988  ...       0.942116          9.444038
 2021-10-29  64.383186  64.772469  ...       2.857754          2.357201
 2021-05-20  23.133921  25.196884  ...     -13.842505          3.395115
 ...               ...        ...  ...            ...               ...
 2021-09-17  67.673767  69.934013  ...       9.781868          0.921631
 2021-08-28  50.135563  50.197136  ...       8.763706          2.688030
 2021-09-19  68.860992  70.075722  ...      -1.210075         13.397793
 2020-11-14   3.697801   3.500485  ...       0.268658         -0.036095
 2021-08-27  41.371857  50.077789  ...      -4.886398         -0.119347

 [113 rows x 5 columns],
 array([-1,  1, -1,  1,  1, -1, -1, -1, -1,  1, -1,  1, -1, -1,  1,  1,  1,
        -1,  1,  1,  1, -1,  1, -1,  1,  1, -1, -1, -1, -1,  1,  1,  1, -1,
        -1,  1,  1,  1, -1, -1, -1,  1,  1, -1,  1,  1, -1, -1, -1,  1, -1,
         1, -1,  1,  1, -1, -1, -1,  1, -1, -1, -1, -1, -1, -1,  1,  1, -1,
         1, -1, -1, -1,  1,  1,  1,  1, -1, -1, -1, -1,  1, -1, -1, -1, -1,
         1,  1, -1, -1, -1, -1, -1, -1,  1, -1, -1, -1,  1,  1, -1, -1,  1,
         1, -1,  1,  1,  1, -1,  1, -1,  1, -1,  1,  1, -1, -1, -1,  1, -1,
        -1, -1, -1,  1, -1,  1,  1, -1, -1, -1,  1, -1,  1, -1, -1,  1, -1,
         1,  1, -1, -1, -1,  1, -1,  1,  1, -1,  1,  1, -1, -1,  1, -1,  1,
        -1, -1, -1, -1, -1,  1, -1,  1,  1,  1,  1,  1, -1, -1,  1, -1, -1,
        -1,  1,  1, -1, -1,  1, -1,  1, -1, -1, -1, -1, -1, -1,  1, -1, -1,
        -1, -1,  1, -1,  1,  1, -1,  1, -1,  1, -1,  1, -1,  1,  1,  1,  1,
         1, -1, -1,  1,  1, -1, -1, -1,  1, -1, -1, -1, -1,  1, -1,  1,  1,
         1,  1, -1, -1,  1, -1,  1,  1, -1, -1, -1, -1, -1,  1, -1, -1,  1,
        -1, -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1, -1,  1,  1,
        -1,  1,  1, -1, -1,  1, -1,  1]),
 array([ 1,  1,  1,  1,  1, -1, -1,  1, -1,  1,  1,  1, -1, -1, -1, -1,  1,
         1,  1, -1,  1, -1, -1, -1, -1, -1, -1,  1,  1,  1,  1,  1,  1,  1,
         1,  1, -1,  1, -1, -1,  1, -1, -1, -1,  1, -1, -1,  1,  1, -1, -1,
        -1, -1, -1,  1, -1,  1,  1,  1, -1,  1, -1, -1,  1,  1, -1,  1, -1,
        -1,  1, -1, -1, -1, -1,  1, -1, -1, -1, -1, -1,  1,  1,  1, -1, -1,
         1,  1, -1,  1,  1,  1,  1,  1, -1,  1,  1,  1, -1, -1, -1, -1,  1,
         1,  1, -1, -1, -1,  1,  1,  1,  1, -1, -1]))

In [35]:
#Objective 7.
#Instantiate the Logistic Regression model object, and use its ".fit(*args)" method to fit the model to the 
#training data.

logistic = LogisticRegression()
logistic = logistic.fit(X_train,y_train)
#Train the model and create predictions
#model.fit(x_training_data, y_training_data)
#predictions = model.predict(x_test_data)
#y_pred=logreg.predict(X_test)

In [36]:
#Objective 8.
#Examine the model's coefficients by using its ".coef_" method.

pd.DataFrame(zip(X.columns, np.transpose(logistic.coef_)))

                  0                       1
0              Open    [0.3806909562882738]
1         Adj Close   [-0.3415176803801784]
2  Close_15_Rolling  [-0.04511163834352729]
3     Open_1_Change   [-0.1266714587827665]
4  Adj Close_Change     [5.121520158784442]

In [42]:
#Objective 9.
#Use the model's ".predict_proba(*args)" and ".predict(*args)" methods to generate predictions over the test set.

#probabilities = #TODO.predict_proba
#predictions = #TODO.predict
#predictions = logistic.predict(x_test_data)
y_pred =logistic.predict(X_test)

In [43]:
#Objective 10.
#Use the function "metrics.confusion_matrix(*args)" to create a confusion matrix comparing the predicted and true
#classification labels over the test set.
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix
#TODO

array([[55,  1],
       [ 2, 55]])

In [ ]:
#Objective 11.
#Calculate the model's accuracy on the test set using its ".score(*args)" method.

#TODO

In [ ]:
#Objective 12.
#Use five-fold cross validation to cross-check the accuracy of the model over different held-out test sets.  This
#is where you should use the function "cross_val_score(*args)".

cross_val = #TODO